<section>
  <div class="grid sm:grid-cols-[70%_minmax(0,1fr)]">
    <div>
      <owl-carousel-o [options]="customMainSlider">
      <ng-template carouselSlide>
        <img src="./images/img1.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
        <ng-template carouselSlide>
        <img src="./images/img2.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
        <ng-template carouselSlide>
        <img src="./images/img3.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
        <ng-template carouselSlide>
        <img src="./images/img4.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
        <ng-template carouselSlide>
        <img src="./images/img5.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
        <ng-template carouselSlide>
        <img src="./images/img6.avif" class="w-full h-[300px]" alt="">
        </ng-template>  
      </owl-carousel-o>
    </div>
    <figure>
      <img src="./images/grocery-banner.png" class="w-full h-[150px]" alt="">
      <img src="./images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
    </figure>
  </div>
</section>

<section>
  <h2>Popular categories</h2>
  <owl-carousel-o [options]="customOptions">

    @for (cat of categories; track cat._id) {
      <ng-template carouselSlide>
         <figure>
          <img [src]="cat.image" [alt]="cat.name" class="w-full h-[250px]">
          <h3 class="text-green-600"> {{cat.name}} </h3>
         </figure>
      </ng-template>
    }

  </owl-carousel-o>
</section>


<section>
    <h2 class="text-4xl py-4">Popular Products</h2>

    <input [(ngModel)]="search" type="text" placeholder="Search" class="bg-white border text-gray-400 border-gray-300 mx-auto w-1/2 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 my-4 block p-2.5"> <!-- dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 -->
   

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for(prod of products.slice(0,12) | search : search ; track prod.id){
            <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative" >
              <div [routerLink]="['/details', prod.id]">
                <div class="card-img">
                  <img [src]="prod.imageCover" class="w-full h-[250px] object-contain" [alt]="prod.title" />
                </div>
                <div class="card-body px-2 py-4">
                  <h4 class="text-green-500 text-xs">{{prod.category.name}}</h4>
                  <h3 class="font-medium">{{prod.title.split(' ', 2).join(' ')}}</h3>
                  <div class="flex justify-between items-center">
                    <span>{{prod.price}} EGP</span>
                    <div class="flex items-center">
                      <i class="fas fa-star text-yellow-300"></i>
                      <span class="text-gray-500">{{prod.ratingsAverage}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <button #wishlist (click)="addToWish(wishlist ,prod.id)" class="wish  absolute top-6 right-4 cursor-pointer">
                <i class="fa-solid fa-heart fa-xl"></i>
              </button>

                <button (click)="addToCart(prod.id)" class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Add To Cart</button>
            </div>
        }
    </div>
</section>