@if (cartDetails.totalCartPrice) {
    <section class="main-sec w-3/4">
        <h1 class="text-center text-3xl text-green-600"> Shop Cart </h1>

        <div class="flex items-center justify-between">
            <span class="text-green-600">Total Cart Price : {{cartDetails.totalCartPrice | currency:'GBP'}} </span>
            
            <button (click)="clearItems()" class="bg-red-900 border text-xs rounded px-10 py-1 text-white " > Clear Cart </button>
        </div>
    
        @for (product of cartDetails.products; track product.product.id) {
            <div class="grid md:grid-cols-[10%_minmax(0,1fr)] border-b mb-2">
    
                <figure>
                    <img [src]="product.product.imageCover" class="w-full h-[100px object-contain]" [alt]="product.product.title">
                </figure>
                <div class="flex justify-between items-center">
                    <div>
                        <h3>{{product.product.title}}</h3>
                        <h4>Price: {{product.price | currency:"GBP"}} </h4>
                        <button (click)="removeItem(product.product.id)"> <i class="fas fa-trash-can text-green-600" ></i> Remove</button>
                    </div>
                    <div class="flex items-center gap-4">
                        <button (click)="updateCount(product.product.id, product.count + 1)" class="text-green-600 text-3xl" ><i class="fa-regular fa-square-plus"></i></button>
                        <span>{{product.count}}</span>
                        <button (click)="updateCount(product.product.id, product.count - 1)" class="text-green-600 text-3xl" ><i class="fa-regular fa-square-minus"></i></button>
                    </div>
                </div>
        
            </div>
        }
    
        <button class="btn-main" [routerLink]="['/checkout', cartDetails._id]">Check Out</button>
    </section>
}
@else {
    <h2 class="text-center text-3xl text-green-600">No Data Found</h2>
}